.footer-container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.5em;
    font-size: calc(10px + 1vmin);
}

@media only screen and (max-width: 815px){
    .footer-container{
        display: block;
        justify-content: center;
}
    

}