.footer-container{
    background-color: black;
    color: white;    
}
.footer-item-container{
    padding: 1.5em
}
.logo-container{
    font-size: calc(10px + 1vmin);
    display: flex;
    float: left;
    flex-direction: column;
}

@media only screen and (max-width: 815px){
    
    .footer-item-container{
        width: 100%;
        padding: 1em;
    }
    .logo-container{
        float:none;
        margin: 1em;
    }
}