@font-face {
    font-family: 'Roboto';
    src: url('../public/assets/fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Roboto';
    color: white;
}